@import "tailwindcss";

@layer base {
  :root {
    --bg-deep: #0f1831;
    --bg-surface: #111625;
  }

  html,
  body,
  main,
  #root {
    height: 100%;
    background-color: var(--bg-deep); /* Define a cor de fundo oficial */
    color: #f3f4f6; /* text-gray-200 */
    overflow-x: hidden;
  }

  /* Scrollbar personalizada para combinar com o tema escuro */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0b0f1a;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}
